<div class="selector">
  <label for="cidade">{{ textos.labels.city }}</label>
  <span class="selector-icon material-icons" aria-hidden="true">waves</span>
  <ng-select
    class="combo-selector"
    [items]="cidades"
    [searchable]="false"
    [placeholder]="cidadeSelecionada ? '' : textos.placeholders.city"
    [(ngModel)]="cidadeSelecionada"
    (change)="onChange()"
    [disabled]="disabled"
    [notFoundText]="cidades.length === 0 ? textos.notFound.cityWithoutRegion : textos.notFound.cityEmpty">
  </ng-select>
</div>
