.selector {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 45vw;
  width: 45vw;
  margin: 1rem;
  font-size: smaller;
  @media (min-width: 768px) {
    font-size: medium;
  }
  @media (min-width: 1024px) {
    font-size: large;
  }
}

select {
  justify-content: center;
  align-items: center;
}

.combo-selector {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #295641; 
  background-color: #92b1a0; 
  color: #1a2728; 
  max-width: 45vw;
  width: 45vw;
  font-size: smaller;
  @media (min-width: 768px) {
    font-size: medium;
  }
  @media (min-width: 1024px) {
    font-size: large;
  }
}

.combo-selector:focus {
  outline: none;
  border-color: #658793; 
  background-color: rgba(146, 177, 160, 0.01); 
  box-shadow: 0 0 4px #658793;
}