.hero-background {
  height: 100vh;
  background-image: url('/assets/img/background-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4); /* escurece para destacar o texto */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
}

.subtext {
  color: #f0f0f0;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}
