<div class="toggle-container">
  <div class="pagination-container" *ngIf="forecastDiaria.length && forecastSemanal.length">
    <button *ngIf="!isMobile"
      class="nav-button" 
      (click)="paginaAnterior()" 
      [disabled]="paginaAtual === 0">
      Anterior
    </button>
  </div>
  <div class="toggle-container">
    <label class="switch">
      <input type="checkbox" [(ngModel)]="tipoPrevisaoChecked" (change)="alternarTipoPrevisao()" />
      <span class="slider round"></span>
    </label>
    <span class="toggle-label">{{ tipoPrevisao === 'diaria' ? ' Previsão Diária' : ' Previsão Semanal' }}</span>
  </div>
  <div class="pagination-container" *ngIf="forecastDiaria.length && forecastSemanal.length">
    <button *ngIf="!isMobile"
      class="nav-button" 
      (click)="proximaPagina()" 
      title="Próximo"
      [disabled]="(paginaAtual + 1) >= forecastSemanal.length">
      Próximo
    </button>
  </div>
</div>

<div *ngIf="!forecastDiaria.length && !forecastSemanal.length">
  <div class="titulo-container">
    <br>
    <div class="resumo-curto" *ngIf="isMobile">
      <span>
        O <strong>SurfCond</strong> é o seu aliado para pegar boas ondas com precisão.
        A previsão mostra dados como altura, direção e período da ondulação, além do vento e da maré, tudo que um surfista precisa.
      </span><br>
    </div>

    <div class="resumo-completo" *ngIf="!isMobile">
      <span>
        O <strong>SurfCond</strong> é o seu aliado para pegar boas ondas com precisão.
        A previsão mostra dados como altura, direção e período da ondulação, além do vento e da maré, tudo que um surfista precisa.
      </span><br>
      <span>
        As ondas são geradas por ventos que sopram sobre o oceano. Quando esses ventos são fortes e constantes, formam ondulações que viajam grandes distâncias até chegarem às praias.
        Já a <strong>maré</strong> é resultado da atração gravitacional da Lua e do Sol, afetando a profundidade da água e, portanto, a formação da onda ideal.
      </span><br>
      <span>
        Com esses dados, o SurfCond permite planejar sessões com mais segurança e diversão, evitando viagens perdidas e aproveitando melhor o swell.
      </span>
    </div>
  </div>
</div>

<div *ngIf="tipoPrevisao === 'diaria' && forecastDiaria.length">
  <div *ngFor="let hour of forecastDiariaPaginada | slice:0:24">
    <p><strong>Hora: {{ hour.time | date:'shortTime' }}, {{ currentDiariaDate | date: 'EEEE, d \'de\' MMMM' }}</strong></p>
    <div class="row">
      <div class="col">
        <p><strong>Onda:</strong> {{ (hour.waveHeight  | number:'1.1-2') || 'n/a' }} m</p>
        <p><strong>Direção:</strong> {{ (hour.waveDirection | direction) || 'n/a' }}</p>
        <p><strong>Período:</strong> {{ (hour.wavePeriod | number:'1.1-2') || 'n/a' }} s</p>
      </div>
      <div class="col">
        <p><strong>Maré:</strong> {{ hour.seaLevel | number:'1.1-2' }}</p>
        <p><strong>Vento:</strong> {{ hour.windDirection | direction }}</p>
        <p><strong>Velo:</strong> {{ hour.windSpeed | kmh | number:'1.1-2' }} km/h</p>
      </div>
    </div>
    <hr />
  </div>

  <div class="pagination-container" *ngIf="isMobile">
    <button 
      class="nav-button" 
      (click)="paginaAnterior()" 
      [disabled]="paginaAtual === 0">
      Anterior
    </button>
    <button 
      class="nav-button" 
      (click)="proximaPagina()" 
      [disabled]="(paginaAtual + 1) * itensPorPagina >= forecastDiaria.length">
      Próximo
    </button>
  </div>
</div>

<div *ngIf="tipoPrevisao === 'semanaria' && forecastSemanal.length">
  <div *ngFor="let dia of forecastSemanalPaginado">
    <h2><strong>{{ dia.data | date: 'EEEE, d \'de\' MMMM' }}</strong></h2>

    <div *ngFor="let periodo of ['matutino', 'vespertino', 'noturno']">
      <p><strong>{{ periodo | titlecase }}:</strong></p>
      <div class="row">
        <div class="col">
          <p><strong>Onda:</strong> {{ (dia[periodo]?.waveHeight | number:'1.1-2') || 'n/a' }} m</p>
          <p><strong>Direção:</strong> {{ (dia[periodo]?.waveDirection | direction) || 'n/a' }}</p>
          <p><strong>Período:</strong> {{ (dia[periodo]?.wavePeriod | number:'1.1-2') || 'n/a' }} s</p>
        </div>
        <div class="col">
          <p><strong>Maré:</strong> {{ (dia[periodo]?.seaLevel | number:'1.1-2') || 'n/a' }}</p>
          <p><strong>Vento:</strong> {{ dia[periodo]?.windDirection | direction }}</p>
          <p><strong>Velo:</strong> {{ dia[periodo]?.windSpeed | kmh | number:'1.1-2' }} km/h</p>
        </div>
      </div>
      <hr />
    </div>

    <div class="pagination-container" *ngIf="isMobile">
      <button 
        class="nav-button" 
        (click)="paginaAnterior()" 
        [disabled]="paginaAtual === 0">
        Anterior
      </button>
      <button 
        class="nav-button" 
        (click)="proximaPagina()" 
        [disabled]="(paginaAtual + 1) >= forecastSemanal.length">
        Próximo
      </button>
    </div>
  </div>
</div>
